.nav {
    grid-area: n;
    padding: 20px;
  }

  .item {
    color: #fff;
  }

  .text {
    color: #000;
    font-size: 14px;
    line-height: 22px;
  }

  .active.text {
    color: gold;
  }

  .news {
    display: flex;
  }

  .svg {
    margin-right: 5px;
  }