.nav {
    grid-area: n;
    padding: 20px;
  }

  .item {
    margin-bottom: 10px;
  }

  .text {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }

  .text:hover {
    color: green;
  }

  .active .text {
    color: red;
  }

  .active{
    color: red;
  }

  .news {
    display: flex;
  }

  .svg {
    margin-right: 5px;
  }