.header {
    grid-area: h;
    background-color: #0050B3;
    padding: 10px 0px
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 60px;
    height: 60px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(https://nadezhnaya-dzhinsa.ru/img/cms/banners/avatarm.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

.avatar_name {
    color: #fff;
}

.home {
    color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.create {
    color: #fff;
    border-right: 1px solid #000;
}