.app-wrapper {
  display: grid;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* gap: 10px; */

}

.header {
  grid-area: h;
  background-color: green;

}

.header img {
  width: 60px;
  height: 60px;
}

.nav {
  grid-area: n;
  background-color: brown;
}

.content {
  grid-area: c;
  background-color: aqua;
}

.content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}